Subject: Reset your password
<h1>Reset your password</h1>
<p>We received a request to reset your password.</p>
<p style="margin: 20px 0;"><a class="btn" href="{{resetUrl}}">Choose a new password</a></p>
<p class="muted">This link expires in 1 hour. If you didn’t ask for this, you can safely ignore this email.</p>
