# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
*.tsbuildinfo

# Turborepo
.turbo/

# Env & secrets
.env
.env.*
!.env.example
*.pem

# Prisma
prisma/*.db
prisma/*.db-journal

# Testing
coverage/
.nyc_output/
playwright-report/
test-results/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
